<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.defensivethinking.co.za.smartcitizen" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SmartCitizenLoginActivity"
            android:label="@string/title_activity_smart_citizen_login"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmartCitizenMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".CaptureReadingActivity"
            android:label="@string/title_activity_capture_reading"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.defensivethinking.co.za.smartcitizen.SmartCitizenMainActivity" />
        </activity>
        <activity
            android:name=".ViewReadingActivity"
            android:label="@string/title_activity_view_reading"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.defensivethinking.co.za.smartcitizen.SmartCitizenMainActivity" />
        </activity>
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".SmartCitizenMainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.defensivethinking.co.za.smartcitizen.SmartCitizenMainActivity" />
        </activity>
        <activity
            android:name=".PropertyActivity"
            android:label="@string/title_activity_property"
            android:parentActivityName=".SmartCitizenMainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.defensivethinking.co.za.smartcitizen.SmartCitizenMainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/no_title"
            android:theme="@style/AppTheme.NoTitleBar" >
        </activity>

        <provider
            android:name=".data.SmartCitizenProvider"
            android:authorities="app.defensivethinking.co.za.smartcitizen"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".sync.SmartCitizenAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SmartCitizenSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".PropertyDetailActivity"
            android:label="@string/title_activity_property_detail"
            android:parentActivityName=".SmartCitizenMainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.defensivethinking.co.za.smartcitizen.SmartCitizenMainActivity" />
        </activity>

        <service
            android:name=".service.SmartCitizenIntentService"
            android:exported="false" />

    </application>

</manifest>
